<div class="row justify-content-center">

    <div class="col-8">

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value" ><span class="badge badge-primary">Modifier Une Autorité contractante</span></h2>
            <h2 [hidden]="editForm.get('id')!.value" ><span class="badge badge-primary">Créer Une Autorité contractante</span></h2>
            <jhi-alert-error></jhi-alert-error>

                            <div class="form-group" [hidden]="!editForm.get('id')!.value">
                                <!--  <label for="id" jhiTranslate="global.field.id">ID</label>
                                  <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly /> -->
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.ordre" for="field_ordre">Ordre</label>
                                    <input type="number" class="form-control" name="ordre" id="field_ordre"
                                           formControlName="ordre"/>
                                    <div *ngIf="editForm.get('ordre')!.invalid && (editForm.get('ordre')!.dirty || editForm.get('ordre')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('ordre')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                               [hidden]="!editForm.get('ordre')?.errors?.number" jhiTranslate="entity.validation.number">
                                            This field should be a number.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.sigle" for="field_sigle">Sigle</label>
                                    <input type="text" class="form-control" name="sigle" id="field_sigle"
                                           formControlName="sigle"/>
                                    <div *ngIf="editForm.get('sigle')!.invalid && (editForm.get('sigle')!.dirty || editForm.get('sigle')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('sigle')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group ">
                <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.denomination" for="field_denomination">Denomination</label>
                <input type="text" class="form-control" name="denomination" id="field_denomination"
                       formControlName="denomination"/>
                <div *ngIf="editForm.get('denomination')!.invalid && (editForm.get('denomination')!.dirty || editForm.get('denomination')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('denomination')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.typeAutoriteContractante" for="field_typeAutoriteContractante">Type Autorite Contractante</label>
                                    <select class="form-control" id="field_typeAutoriteContractante" name="typeAutoriteContractante" formControlName="typeAutoriteContractante">
                                        <option *ngIf="!editForm.get('typeAutoriteContractante')!.value" [ngValue]="null" selected></option>
                                        <option [ngValue]="typeAutoriteContractanteOption.libelle === editForm.get('typeAutoriteContractante')!.value?.libelle ? editForm.get('typeAutoriteContractante')!.value : typeAutoriteContractanteOption" *ngFor="let typeAutoriteContractanteOption of typeautoritecontractantes; trackBy: trackById">{{ typeAutoriteContractanteOption.libelle }}</option>
                                    </select>
                                    <div *ngIf="editForm.get('typeAutoriteContractante')!.invalid && (editForm.get('typeAutoriteContractante')!.dirty || editForm.get('typeAutoriteContractante')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('typeAutoriteContractante')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.responsable" for="field_responsable">Responsable</label>
                                    <input type="text" class="form-control" name="responsable" id="field_responsable"
                                           formControlName="responsable"/>
                                    <div *ngIf="editForm.get('responsable')!.invalid && (editForm.get('responsable')!.dirty || editForm.get('responsable')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('responsable')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.adresse" for="field_adresse">Adresse</label>
                                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                                           formControlName="adresse"/>
                                    <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.telephone" for="field_telephone">Telephone</label>
                                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                                           formControlName="telephone"/>
                                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row"  >
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.email" for="field_email">Email</label>
                                    <input type="text" class="form-control" name="email" id="field_email"
                                           formControlName="email"/>
                                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.urlsiteweb" for="field_urlsiteweb">Urlsiteweb</label>
                                    <input type="text" class="form-control" name="urlsiteweb" id="field_urlsiteweb"
                                           formControlName="urlsiteweb"/>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label  class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsSygAutoriteContractante.approbation">Approbation</label>
                                    <!--  <input type="text" class="form-control" name="approbation" id="field_approbation" formControlName="approbation"/> -->
                                    <select class="form-control" formControlName="approbation">
                                        <option value="">---</option>
                                        <option *ngFor="let approbation of approbationOptions ">{{approbation}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_logo">Logo de l'autorité contractante</label>

                                    <div>
                                        <img [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value" style="max-height: 100px;" *ngIf="editForm.get('logo')!.value" alt="sygAutoriteContractante image"/>
                                        <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
                                            <span class="pull-left">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
                                            <button type="button" style="padding-top: 4px" (click)="clearInputImage('logo', 'logoContentType', 'file_logo')" class="btn btn-secondary btn-xs pull-right">
                                                <fa-icon icon="times"></fa-icon>
                                            </button>
                                        </div>
                                        <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                                           formControlName="logo"/>
                                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                                           formControlName="logoContentType" />
                                </div>
                            </div>

                 <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
        </form>
    </div>
</div>
