<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeAutoriteContractante">
            <h2><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.detail.title">Type Autorite Contractante</span> {{ typeAutoriteContractante.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeAutoriteContractante.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.code">Code</span></dt>
                <dd>
                    <span>{{ typeAutoriteContractante.code }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.description">Description</span></dt>
                <dd>
                    <span>{{ typeAutoriteContractante.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.ordre">Ordre</span></dt>
                <dd>
                    <span>{{ typeAutoriteContractante.ordre }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.chapitre">Chapitre</span></dt>
                <dd>
                    <span>{{ typeAutoriteContractante.chapitre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-autorite-contractantee/type-autorite-contractante', typeAutoriteContractante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
