<div>
    <div _ngcontent-aay-c151="">

        <div >
            <div role="alert" class="alert alert-success">
                <h3 align="center"><marquee scrollamount="12" scrolldelay="7" direction="left"><strong>GESTION DES TYPES D'AUTORITÉS CONTRACTANTES</strong></marquee></h3>
                <br/>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-4">
            <h2 id="page-heading">
                <span >Type Autorité Contractante</span>

            </h2>
        </div> <div class="col-4"></div>
        <div class="col-3" >

            <div class="form-group">
                <strong><b>Rechercher terme(s) :</b></strong>
                <input type="text" style="background-color: #c3e6f1" class="form-control" name="term" placeholder="Recherche" [(ngModel)]="term">
                <br>
            </div>
        </div>
        <div class="col-1.5"  >
            <button style="margin-top: 25%" id="jh-create-entity" class="btn btn-primary  float-left jh-create-entity create-type-autorite-contractante" [routerLink]="['/type-autorite-contractantee/type-autorite-contractante/new']">
                <fa-icon icon="plus"></fa-icon>
                <span>  Ajouter
                            </span>
            </button>
        </div>

    </div>

    <div *ngIf="loaderService.isLoading | async" class="app-loading">
        <div class="lds-css ng-scope">
            <div class="lds-pacman">
                <div><div></div><div></div><div></div></div>
                <div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>

    <!-- <h2 id="page-heading">
         <span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.home.title">Type Autorite Contractantes</span>

         <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-autorite-contractante" [routerLink]="['/type-autorite-contractantee/type-autorite-contractante/new']">
             <fa-icon icon="plus"></fa-icon>
             <span>
             Ajouter
             </span>
         </button> <br>

     </h2>

     <div class="row">
         <div class="col-md-9"></div>
         <div class="col-md-3">
             <div class="form-group">
                 <strong><b>Rechercher terme(s) :</b></strong>
                 <input type="text" style="background-color: #c3e6f1" class="form-control" name="term" placeholder="Recherche" [(ngModel)]="term">
                 <br>
             </div>
         </div>
     </div> -->


    <!--<jhi-alert-error></jhi-alert-error>-->
    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeAutoriteContractantes?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.home.notFound">No typeAutoriteContractantes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeAutoriteContractantes && typeAutoriteContractantes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                   <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordre"><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.ordre">Ordre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chapitre"><span jhiTranslate="gatewaysigmapApp.referentielmsTypeAutoriteContractante.chapitre">Chapitre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeAutoriteContractante of typeAutoriteContractantes | filter:term">
                 <!--   <td><a [routerLink]="['/type-autorite-contractante/type-autorite-contractante', typeAutoriteContractante.id, 'view']">{{ typeAutoriteContractante.id }}</a></td> -->
                    <td>{{ typeAutoriteContractante.libelle }}</td>
                    <td>{{ typeAutoriteContractante.code }}</td>
                    <td>{{ typeAutoriteContractante.description }}</td>
                    <td>{{ typeAutoriteContractante.ordre }}</td>
                    <td>{{ typeAutoriteContractante.chapitre }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-autorite-contractantee/type-autorite-contractante', typeAutoriteContractante.id, 'view']"
                                    class="btn  btn-sm" [ngbTooltip]="btnDetails">
                                <fa-icon icon="eye" style="color: #28a745"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-autorite-contractantee/type-autorite-contractante', typeAutoriteContractante.id, 'edit']"
                                    class="btn  btn-sm" [ngbTooltip]="btnModifier">
                                <fa-icon icon="pencil-alt" style="color: #17a2b8"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(typeAutoriteContractante)"
                                    class="btn  btn-sm" [ngbTooltip]="btnSuprimer">
                                <fa-icon icon="trash-alt" style="color: #aa0000"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="typeAutoriteContractantes && typeAutoriteContractantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
