<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.referentielmsModeSelection.home.title">Mode Selections</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mode-selection" [routerLink]="['/mode-selectioon/mode-selection/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Ajouter
            </span>
        </button> <br>

    </h2>

    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="form-group">
                <strong><b>Rechercher terme(s) :</b></strong>
                <input type="text" style="background-color: #c3e6f1" class="form-control" name="term" placeholder="Recherche" [(ngModel)]="term">
                <br>
            </div>
        </div>
    </div>


    <!--<jhi-alert-error></jhi-alert-error>-->

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="modeSelections?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.referentielmsModeSelection.home.notFound">No modeSelections found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="modeSelections && modeSelections.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="gatewaysigmapApp.referentielmsModeSelection.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gatewaysigmapApp.referentielmsModeSelection.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gatewaysigmapApp.referentielmsModeSelection.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let modeSelection of modeSelections | filter:term">
                    <td><a [routerLink]="['/mode-selectioon/mode-selection', modeSelection.id, 'view']">{{ modeSelection.id }}</a></td>
                    <td>{{ modeSelection.libelle }}</td>
                    <td>{{ modeSelection.code }}</td>
                    <td>{{ modeSelection.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mode-selectioon/mode-selection', modeSelection.id, 'view']"
                                    class="btn  btn-sm" [ngbTooltip]="btnDetails">
                                <fa-icon icon="eye" style="color: #28a745"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mode-selectioon/mode-selection', modeSelection.id, 'edit']"
                                    class="btn  btn-sm" [ngbTooltip]="btnModifier">
                                <fa-icon icon="pencil-alt" style="color: #17a2b8"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(modeSelection)"
                                    class="btn  btn-sm" [ngbTooltip]="btnSuprimer">
                                <fa-icon icon="trash-alt" style="color: #aa0000"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="modeSelections && modeSelections.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
