<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieFournisseur">
            <h2><span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.detail.title">Categorie Fournisseur</span> {{ categorieFournisseur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ categorieFournisseur.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.description">Description</span></dt>
                <dd>
                    <span>{{ categorieFournisseur.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-fournisseur', categorieFournisseur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
