<div>
    <h2 id="page-heading">
        <span>Categories Fournisseur</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorie-fournisseur" [routerLink]="['/categorie-fournisseuur/categorie-fournisseur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Ajouter
            </span>
        </button> <br>

    </h2>

    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="form-group">
                <strong><b>Rechercher terme(s) :</b></strong>
                <input type="text" style="background-color: #c3e6f1" class="form-control" name="term" placeholder="Recherche" [(ngModel)]="term">
                <br>
            </div>
        </div>
    </div>


    <!--<jhi-alert-error></jhi-alert-error>-->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categorieFournisseurs?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.home.notFound">No categorieFournisseurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorieFournisseurs && categorieFournisseurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gatewaysigmapApp.referentielmsCategorieFournisseur.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categorieFournisseur of categorieFournisseurs | filter:term">
                    <td><a [routerLink]="['/categorie-fournisseuur/categorie-fournisseur', categorieFournisseur.id, 'view']">{{ categorieFournisseur.id }}</a></td>
                    <td>{{ categorieFournisseur.libelle }}</td>
                    <td>{{ categorieFournisseur.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorie-fournisseuur/categorie-fournisseur', categorieFournisseur.id, 'view']"
                                    class="btn  btn-sm" [ngbTooltip]="btnDetails">
                                <fa-icon icon="eye" style="color: #28a745"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorie-fournisseuur/categorie-fournisseur', categorieFournisseur.id, 'edit']"
                                    class="btn  btn-sm" [ngbTooltip]="btnModifier">
                                <fa-icon icon="pencil-alt" style="color: #17a2b8"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(categorieFournisseur)"
                                    class="btn  btn-sm" [ngbTooltip]="btnSuprimer">
                                <fa-icon icon="trash-alt" style="color: #aa0000"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="categorieFournisseurs && categorieFournisseurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
