@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/Senegal.svg.png') no-repeat center center;
  background-size: contain;
}

.dropdown:hover .dropdown-men {
  display:block ;
  margin-top: 0; // remove the gap so it doesn't close
}

.dropdown-item{
  background-color: #cfe2e2;
  min-width: 182px;
  padding: 9px 12px;
}




a {
  -webkit-transition: color 1s;
  transition: color 1s;

}
a:hover
{
  background-color: #b8c7c7;
  color: #2a8942;
}

button {
  -webkit-transition: color 1s;
  transition: color 1s;

}
button:hover
{
  background-color: #b8c7c7;
  color: #2a8942;
}

.active {
  color: #2a8942;
}


