<div class="row justify-content-center " class="ff">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value"><span class="badge badge-primary">Modifier un Fournisseur</span></h2>
            <h2 [hidden]="editForm.get('id')!.value"><span class="badge badge-primary">Créer un Fournisseur</span></h2>

            <div>
              <!--  <jhi-alert-error></jhi-alert-error> -->

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                  <!--  <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly /> -->
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.raisonSociale" for="field_raisonSociale">Raison Sociale</label>
                    <input type="text" class="form-control" name="raisonSociale" id="field_raisonSociale"
                           formControlName="raisonSociale"/>
                    <div *ngIf="editForm.get('raisonSociale')!.invalid && (editForm.get('raisonSociale')!.dirty || editForm.get('raisonSociale')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('raisonSociale')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                    <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.pieceJointe" for="field_pieceJointe">Piece Jointe</label>
                    <input type="text" class="form-control" name="pieceJointe" id="field_pieceJointe"
                           formControlName="pieceJointe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.numeroRegistreCommerce" for="field_numeroRegistreCommerce">Numero Registre Commerce</label>
                    <input type="text" class="form-control" name="numeroRegistreCommerce" id="field_numeroRegistreCommerce"
                           formControlName="numeroRegistreCommerce"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.sigle" for="field_sigle">Sigle</label>
                    <input type="text" class="form-control" name="sigle" id="field_sigle"
                           formControlName="sigle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.numeroIdentiteFiscale" for="field_numeroIdentiteFiscale">Numero Identite Fiscale</label>
                    <input type="text" class="form-control" name="numeroIdentiteFiscale" id="field_numeroIdentiteFiscale"
                           formControlName="numeroIdentiteFiscale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categorieFournisseur">Categorie Fourniseur</label>
                    <select class="form-control" id="field_categorieFournisseur" name="categorieFournisseur" formControlName="categorieFournisseur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieFournisseurOption.id === editForm.get('categorieFournisseur')!.value?.id ? editForm.get('categorieFournisseur')!.value : categorieFournisseurOption" *ngFor="let categorieFournisseurOption of categoriefournisseurs; trackBy: trackById">{{ categorieFournisseurOption.libelle }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.pays" for="field_pays">Pays</label>
                    <select class="form-control" id="field_pays" name="pays" formControlName="pays">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paysOption.id === editForm.get('pays')!.value?.id ? editForm.get('pays')!.value : paysOption" *ngFor="let paysOption of pays; trackBy: trackById">{{ paysOption.libelle }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
