<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fournisseur">
            <h2><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.detail.title">Fournisseur</span> {{ fournisseur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.raisonSociale">Raison Sociale</span></dt>
                <dd>
                    <span>{{ fournisseur.raisonSociale }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ fournisseur.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.email">Email</span></dt>
                <dd>
                    <span>{{ fournisseur.email }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.fax">Fax</span></dt>
                <dd>
                    <span>{{ fournisseur.fax }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ fournisseur.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.pieceJointe">Piece Jointe</span></dt>
                <dd>
                    <span>{{ fournisseur.pieceJointe }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.numeroRegistreCommerce">Numero Registre Commerce</span></dt>
                <dd>
                    <span>{{ fournisseur.numeroRegistreCommerce }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.date">Date</span></dt>
                <dd>
                    <span>{{ fournisseur.date }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.sigle">Sigle</span></dt>
                <dd>
                    <span>{{ fournisseur.sigle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.numeroIdentiteFiscale">Numero Identite Fiscale</span></dt>
                <dd>
                    <span>{{ fournisseur.numeroIdentiteFiscale }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.categorieFournisseur">Categorie Fournisseur</span></dt>
                <dd>
                    <div *ngIf="fournisseur.categorieFournisseur">
                        <a [routerLink]="['/categorie-fournisseur', fournisseur.categorieFournisseur?.id, 'view']">{{ fournisseur.categorieFournisseur?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsFournisseur.pays">Pays</span></dt>
                <dd>
                    <div *ngIf="fournisseur.pays">
                        <a [routerLink]="['/pays', fournisseur.pays?.id, 'view']">{{ fournisseur.pays?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
