<div _ngcontent-aay-c151="" class="row">
    <div _ngcontent-aay-c151="" class="col-md-3 side-menu">
        <div _ngcontent-aay-c151="">

            <div >
                <div role="alert" class="alert alert-success">
                    <div class="defile">
                        <h3 align="center"><marquee scrollamount="12" scrolldelay="7" direction="left"><strong>GESTION CONFIGURATION TAUX</strong></marquee></h3>
                    </div>
                    <br/>
                </div>
            </div>

            <nav _ngcontent-aay-c151="" class="navbar navbar-light">
                <ul _ngcontent-aay-c151="" class="navbar-nav mr-auto" ng-reflect-ng-switch="true">

                    <li  class="nav-item" ng-reflect-router-link-active="active" (click)="highlightRow()">
                        <a  routerLink="configuration-taux" routerLinkActive="active" class="nav-link text-primary mt-3"  ng-reflect-router-link-active-options="[object Object]" >
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="list" size="2x" [fixedWidth]="true" class="ng-fa-icon" ng-reflect-icon="list" ng-reflect-size="2x" ng-reflect-fixed-width="true">
                                </fa-icon>
                            </span>
                            <span class="align-middle h5 fff">Configuration Taux</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
