<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.home.title">Pieces Administratives</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pieces-administratives" [routerLink]="['/pieces-administratives/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Ajouter
            </span><br>
        </button>
    </h2>

    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="form-group">
                <strong><b>Rechercher terme(s) :</b></strong>
                <input type="text" style="background-color: #c3e6f1" class="form-control" name="term" placeholder="Recherche" [(ngModel)]="term">
                <br>
            </div>
        </div>
    </div>


    <!--<jhi-alert-error></jhi-alert-error>-->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="piecesAdministratives?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.home.notFound">No piecesAdministratives found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="piecesAdministratives && piecesAdministratives.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.codePiece">Code Piece</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.libelle">Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.localisation">Localisation</span></th>
                    <th scope="col" ><span jhiTranslate="gatewaysigmapApp.referentielmsPiecesAdministratives.type">Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piecesAdministratives of piecesAdministratives | filter:term">
                    <td><a [routerLink]="['/pieces-administratives', piecesAdministratives.id, 'view']">{{ piecesAdministratives.id }}</a></td>
                    <td>{{ piecesAdministratives.codePiece }}</td>
                    <td>{{ piecesAdministratives.libelle }}</td>
                    <td jhiTranslate="{{ 'gatewaysigmapApp.enumLocalisation.' + piecesAdministratives.localisation }}">{{ piecesAdministratives.localisation }}</td>
                    <td>{{ piecesAdministratives.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pieces-administratives', piecesAdministratives.id, 'view']"
                                    class="btn  btn-sm" [ngbTooltip]="btnDetails">
                                <fa-icon icon="eye" style="color: #28a745"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pieces-administratives', piecesAdministratives.id, 'edit']"
                                    class="btn  btn-sm" [ngbTooltip]="btnModifier">
                                <fa-icon icon="pencil-alt" style="color: #17a2b8"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(piecesAdministratives)"
                                    class="btn  btn-sm" [ngbTooltip]="btnSuprimer">
                                <fa-icon icon="trash-alt" style="color: #aa0000"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
