<div class="row justify-content-center" class="fff">
    <div class="col-8">
        <div *ngIf="pays">
            <h2><span jhiTranslate="gatewaysigmapApp.referentielmsPays.detail.title">Pays</span> {{ pays.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsPays.codePays">Code Pays</span></dt>
                <dd>
                    <span>{{ pays.codePays }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.referentielmsPays.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ pays.libelle }}</span>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pays', pays.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
